<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Bioclipse New Wizards"
            id="net.bioclipse.sdk.newmanagerplugin">
      </category>
      <wizard
            name="New Manager Plugin Wizard"
            icon="icons/sample.gif"
            category="net.bioclipse.sdk.newmanagerplugin"
            class="net.bioclipse.sdk.wizards.ManagerPluginNewWizard"
            id="net.bioclipse.sdk.wizards.ManagerPluginNewWizard">
      </wizard>
   </extension>

</plugin>
