<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="net.bioclipse.sdk.pdewizard.ManagerWizard"
            icon="icons/bioclipse_16.png"
            id="net.bioclipse.sdk.template.wizard"
            java="true"
            name="Bioclipse Manager Wizard"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="true">
            <description>
               Creates a new Plug-in project with the infrastructure for
               a Bioclipse manager.
            </description>
      </wizard>
      <wizard
            class="net.bioclipse.sdk.pdewizard.ManagerTestWizard"
            icon="icons/bioclipse_16.png"
            id="net.bioclipse.sdk.template.test.wizard"
            java="true"
            name="Bioclipse Manager Unit Testing Wizard"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="true">
            <description>
               Creates a new Plug-in project with the JUnit infrastructure
               for testing a Bioclipse manager. Use the same manager name
               and namespace as used when setting up the Bioclipse manager
               Plug-in itself.
            </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.templates">
      <template
            class="net.bioclipse.sdk.pdewizard.ManagerWizard"
            contributingId="net.bioclipse.core.net.bioclipse.core.scriptingContribution"
            icon="icons/bioclipse_16.png"
            id="net.bioclipse.sdk.manager.template"
            name="Bioclipse Manager">
      </template>
      <template
            class="net.bioclipse.sdk.pdewizard.ManagerTestWizard"
            contributingId="net.bioclipse.core.net.bioclipse.core.unitTests"
            icon="icons/bioclipse_16.png"
            id="net.bioclipse.sdk.manager.test.template"
            name="Bioclipse Manager Tests">
      </template>
   </extension>

</plugin>
